---
--- 

@import url('https://fonts.googleapis.com/css?family=Raleway');


@import "variables"; 
@import "bootstrap-5.0.2/bootstrap";

@import "nav";
@import "showcase";
@import "skill-tag";
@import "page-header";
@import "code_snippets";
@import "social_icons";

@import "code_snippets.css";

body {
	min-height: 100vh;
    background-color: $bodyBackground;

    background-image: url("/img/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-color: rgba($color: $white, $alpha: .4);
        z-index: -1;
    }
}



div.hr {
    min-height: 0.2em;
}

.hero-text {
	font-family: "Raleway";
    color: $white;

    * {
        color: $white;
    }
}

.btn {
	border-radius: 0;

    &.btn-primary {
        color: $light;
    }
}

.footer {
	height: 5em;
    background-color: $dark;
}

.project-logo {
	max-height: 2em;
}

div.underline {
    width: 100%;
    height: 2rem;
    background-image: url("/img/underline.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent !important;
}