---
--- 

@import url('https://fonts.googleapis.com/css?family=Raleway');


@import "variables"; 
@import "bootstrap-5.0.2/bootstrap";

@import "nav";
@import "showcase";
@import "skill-tag";
@import "page-header";

body {
	min-height: 100vh;
    background-color: $bodyBackground;

    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.hr {
    min-height: 0.2em;
}

.hero-text {
	font-family: "Raleway";
    color: $white;

    * {
        color: $white;
    }
}

.btn {
	border-radius: 0;

    &.btn-primary {
        color: $light;
    }
}

.avatar-img {
    max-height: 10em;
    border: 0.2em solid $primary;
}

.footer {
	height: 5em;
    background-color: $dark;
}

.project-logo {
	max-height: 2em;
}