@page "/pokedex"


@if(_pokemon is not null)
{
    <div class="grid gap-4 grid-cols-2 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-10 p-4">
        @foreach (var pokemon in _pokemon)
        {
            <PokedexCard Pokemon="pokemon"/>
        }
    </div>
}