@page "/pokedex"

@if(_pokemonResponse is not null)
{
    <div class="pt-4">
        <PokemonSearchBar Pokemon="_pokemonResponse.Results" />
    </div>
}

@if(_pokemon is not null)
{
    <div class="grid gap-4 grid-cols-2 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-10 p-4">
        @foreach (var pokemon in _pokemon)
        {
            <PokedexCard Pokemon="pokemon"/>
        }
    </div>

    <div class="flex justify-center">
        <Button Type="primary" OnClick="LoadMorePokemon">
            <p class="text-xl">Load More...</p>
        </Button>
    </div>
}