/* /Pages/Catan/CatanBoardBuilder.razor.rz.scp.css */
.board[b-yzf87te41p]::before {
    z-index: -1;
    background-image: url("/img/catan/background.jpg");
    background-size: cover;
    opacity: 0.5;

    content: '';

    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.board[b-yzf87te41p] {
    font-size: 24pt;
    margin-top: 1em;
    min-width: calc(1.732em * 7 + 1em);
    min-height: calc(1.732em * 7);
}

    .board > div[b-yzf87te41p] {
        line-height: 1.5em;
        margin-bottom: -1px;
    }

        .board > div:nth-child(even) > div:first-child[b-yzf87te41p] {
            /*margin-left: 0.866em;*/
        }

        .board > div:nth-child(odd) > div:first-child[b-yzf87te41p] {
            margin-left: -0.866em;
        }


    .board .spacer[b-yzf87te41p] {
        visibility: hidden;
    }

    .board .water[b-yzf87te41p], .board .water[b-yzf87te41p]:before, .board .water[b-yzf87te41p]:after {
        background: #3399cc;
        border-color: #66bbee;
    }

        .board .water span[b-yzf87te41p] {
            background: #66bbee;
            /*
                background-image: url("/img/catan/water.svg");
            background-size: cover;
            */
        }

    .board .trade[b-yzf87te41p], .board .trade[b-yzf87te41p]:before, .board .trade[b-yzf87te41p]:after {
        background: #3399cc !important;
        border-color: #66bbee !important;
    }

    .board .wildcard span[b-yzf87te41p] {
        background-image: url("/img/catan/wildcard.svg");
        background-size: cover;
    }

    .board .wood[b-yzf87te41p] {
        background: #5e8047;
    }

    .board .wood span[b-yzf87te41p] {
        background-image: url("/img/catan/wood.svg");
        background-size: cover;
    }

    .board .wheat[b-yzf87te41p] {
        background: #ffd045;
    }

    .board .wheat span[b-yzf87te41p] {
        background-image: url("/img/catan/wheat.svg");
        background-size: cover;
    }

    .board .ore[b-yzf87te41p] {
        background: #a49b9d;
    }

    .board .ore span[b-yzf87te41p] {
        background-image: url("/img/catan/ore.svg");
        background-size: cover;
    }

    .board .sheep[b-yzf87te41p] {
        background: #9bc445;
    }

    .board .sheep span[b-yzf87te41p] {
        background-image: url("/img/catan/sheep.svg");
        background-size: cover;
    }

    .board .brick[b-yzf87te41p] {
        background: #b46734;
    }

    .board .brick span[b-yzf87te41p] {
        background-image: url("/img/catan/brick.svg");
        background-size: cover;
    }

    .board .desert[b-yzf87te41p] {
        background: #e5c27e;
    }

    .board .desert span[b-yzf87te41p] {
        background-image: url("/img/catan/desert.svg");
        background-size: cover;
    }

    .board > div > div[b-yzf87te41p], .board > div > div[b-yzf87te41p]:before, .board > div > div[b-yzf87te41p]:after {
        border: 3px solid #ddcc66;
        z-index: -1;
        padding: 3px;
    }

        .board > div > div > *[b-yzf87te41p] {
            background: white;
            font-size: 0.6em;
            position: relative;
            top: -0.2em;
            line-height: 2em;
            height: 2em;
            width: 2em;
            border-radius: 1em;
            display: inline-block;
        }

    .board > div > div[b-yzf87te41p] {
        display: inline-block;
        background: #00ff00;
        position: relative;
        width: 1.732em;
        height: 1em;
        line-height: 1em;
        text-align: center;
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
        padding: 0;
    }

        .board > div > div[b-yzf87te41p]:before, .board > div > div[b-yzf87te41p]:after {
            content: "";
            background: inherit;
            display: inline-block;
            position: absolute;
            width: 1em;
            height: 1em;
            left: 50%;
            margin-left: -0.5em;
            box-sizing: border-box;
            transform-origin: center center;
            transform: matrix(0.866,0.5,-0.866,0.5,0,0);
            background-clip: content-box;
        }

        .board > div > div[b-yzf87te41p]:before {
            top: 0;
            margin-top: -0.5em;
            border-right: none;
            border-bottom: none;
            padding-top: 0;
            padding-left: 0;
            padding-right: -2px;
            padding-bottom: -2px;
        }

        .board > div > div[b-yzf87te41p]:after {
            bottom: 0;
            margin-bottom: -0.5em;
            border-top: none;
            border-left: none;
            padding-right: 0;
            padding-bottom: 0;
            padding-top: -2px;
            padding-left: -2px;
        }
/* /Pages/Index.razor.rz.scp.css */
.hero-section[b-yc7mlmln1x] {
    background-image: url('img/index/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.inline-skill-tag-csharp[b-yc7mlmln1x]{

}

.inline-skill-tag-php[b-yc7mlmln1x] {
}

.inline-skill-tag-java[b-yc7mlmln1x] {
}

.inline-skill-tag-ruby[b-yc7mlmln1x] {
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavBar.razor.rz.scp.css */
.fade.in[b-ait6p883oo] {
    animation-name: fadeIn-b-ait6p883oo;
}

.fade.out[b-ait6p883oo] {
    animation-name: fadeOut-b-ait6p883oo;
}

@keyframes fadeIn-b-ait6p883oo {
    0% {
        opacity: 0;
        transform: translateY(startYposition);
    }

    100% {
        opacity: 1;
        transform: translateY(endYposition);
    }
}

@keyframes fadeOut-b-ait6p883oo {
    0% {
        opacity: 1;
        transform: translateY(startYposition);
    }

    100% {
        opacity: 0;
        transform: translateY(endYposition);
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-32xpj7b96w] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-32xpj7b96w] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-32xpj7b96w] {
    font-size: 1.1rem;
}

.oi[b-32xpj7b96w] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-32xpj7b96w] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-32xpj7b96w] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-32xpj7b96w] {
        padding-bottom: 1rem;
    }

    .nav-item[b-32xpj7b96w]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-32xpj7b96w]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-32xpj7b96w]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-32xpj7b96w] {
        display: none;
    }

    .collapse[b-32xpj7b96w] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProjectShowcase/ProjectShowcaseItem.razor.rz.scp.css */
.project-catan[b-v5q0q23v6r] {
    background-image: url("/img/catan/background.jpg");
    background-size: cover;
}

.project-catan:hover[b-v5q0q23v6r] {
    transform: scale(1.05);
}
