
<span class="uppercase text-light border-2 border-@Type.Name bg-@Type.Name p-1 text-sm font-bold m-1">
    @Type.Name
</span>

@code {
    [Parameter]
    public Blazor.Models.Pokedex.Type Type { get; set; }
}
