.primary {

    --tw-bg-opacity: 1;

    background-color: rgb(0 83 119 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {

    .primary {

        --tw-bg-opacity: 1;

        background-color: rgb(1 52 74 / var(--tw-bg-opacity))
    }
}

.secondary {

    --tw-bg-opacity: 1;

    background-color: rgb(131 181 209 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;

    color: rgb(57 57 58 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {

    .secondary {

        --tw-bg-opacity: 1;

        background-color: rgb(97 132 153 / var(--tw-bg-opacity));

        --tw-text-opacity: 1;

        color: rgb(237 240 238 / var(--tw-text-opacity))
    }
}