@inherits LayoutComponentBase

@using MysteryMystery.github.io.Layout.Components

<div class="min-h-screen flex flex-col">
   <Navbar/>

    <main class="flex-1">
        @Body
    </main>

    <Footer />
</div>