<div id="carousel" class="carousel slide code-snippet-slides" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% assign active = true %}
      {% for solution in site.data.leetcode.solutions %}
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.index0 }}" class="{% if active %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.index0 }}"></button>
      {% assign active = false %}
      {% endfor %}
    </div>
    <div class="carousel-inner">
        {% assign active = true %}
      {% for solution in site.data.leetcode.solutions %}
      <div class="carousel-item {% if active %} active {% endif %}" onclick="window.location.href = '/code_gallery#{{solution.solution_name | slugify }}'">
        <div class="d-block w-100 overflow-hidden carousel-code-snippet">
            {% include code_snippet.html solution=solution %}
        </div>
        <div class="carousel-caption d-none d-md-block">
            <p><span class="skill-tag-slim skill-tag-slim-{{ solution.language }}">{{ solution.language | capitalize }}</span> {{ solution.description | capitalize }}</p>
        </div>
        <div class="carousel-caption d-md-none">
            <p><span class="skill-tag-slim skill-tag-slim-{{ solution.language }}">{{ solution.language | capitalize }}</span></p>
        </div>
      </div>
        {% assign active = false %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>