<nav id="page-header" class="navbar navbar-expand-md navbar-dark custom-nav align-items-start flex-wrap">
    <div class="container-fluid d-block">
        <div class="row">
            <div class="justify-content-start align-items-stretch py-0 col-6 col-md-3 ">
                <div id="avatar-wrapper" class="p-md-1">
                    <a href="{{ site.url }}">
                        <img src="/img/avatar.jpg" class="rounded-circle avatar-img border-primary" style="height: auto; width: auto; max-height: 10rem;">
                    </a>
                </div>
                <!--
                    <div id="contact-wrapper" class="h-100">
                    <div id="author-email" class="p-md-1 px-md-3 d-flex flex-column">
                        <p class="my-0 lead fs-3 text-light">{{ site.author }}</p>
                        <p class="my-0 lead fs-4 text-primary">{{ site.email }}</p>
                    </div>
                    {% include hr.html class="bg-primary" %}
                </div>
                -->
            </div>
        
            <div class="col-6 d-md-none d-flex justify-content-end">
                <div class="">
                    <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        
            <div class="col-12 col-md-9">
                <div class="collapse navbar-collapse justify-content-end order-sm-1 bg-dark" id="navbarSupportedContent">
                    <ul class="navbar-nav p-1 p-md-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Projects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% assign project_posts = site.posts | where: "categories", "projects" %}
                                {% if project_posts.size > 0 %}
                                    {% for post in project_posts %}
                                        <a class="dropdown-item" href="{{ post.url }}">{{ post.title }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                          </li>
                      <li class="nav-item"><a href="{{ site.linkdin }}" class="nav-link">LinkedIn</a></li>
                      <li class="nav-item"><a href="{{ site.github }}" class="nav-link">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    function remToPx(rem){
        return rem * parseFloat(getComputedStyle(document.documentElement).fontSize);
    }

    window.addEventListener("load", function(){
        function createSpaceFiller(height){
            const div = document.createElement("div")
            div.id = "page-header-temp"
            div.style.height = height + "px";
            return div;
        }

        const getScrollSnapshots = selectors => selectors.map(x => 
            Array.from(parent.querySelectorAll(x)).map(y => ({
                    element: y,
                    initialHeight: y.offsetHeight,
                    minShrink: y.offsetHeight / 2
                })
            )
        ).flat()

        const navbar = document.querySelector("#page-header")
        const parent = navbar.parentElement
        const initialNavHeight = navbar.offsetHeight
        const minNavHeight = navbar.offsetHeight * 2/3 //70

        const navStickyClasses = ["position-fixed",  "min-vw-100"]
        navStickyClasses.forEach(x => navbar.classList.add(x))

        parent.appendChild(createSpaceFiller(initialNavHeight))
        const navFiller = parent.querySelector("#page-header-temp")

        const elementsToShrinkHeight = getScrollSnapshots([".avatar-img"])
        //const elementsToShrinkFont = getScrollSnapshots(["p", "a"])

        window.addEventListener("scroll", function(event){
            let x = initialNavHeight - this.scrollY; // buffer for that whiteline that appears when scrolling quickly 
            if(x < minNavHeight)
                x = minNavHeight

            navbar.style.maxHeight = x + "px"
            navFiller.style.height = x + "px"

            let scrollY = this.scrollY
            elementsToShrinkHeight.forEach(o => {
                let d = (o.initialHeight - scrollY);
                if(d < o.minShrink)
                    d = o.minShrink
                o.element.style.maxHeight = d + "px"
            })
        })

        //If we have reloaded the page and we are not at the top of the page, scroll down one px to trigger the nav resizing
        if(window.scrollX > 0)
            window.scrollTo(window.scrollX, window.scrollY + 1);
    })
</script>