<nav id="page-header" class="navbar sticky-top navbar-expand-md navbar-dark custom-nav align-items-start">
    <div class="d-flex flex-col flex-wrap justify-content-start hero-bar py-1">
        <div id="avatar-wrapper" class="p-md-3">
            <a href="{{ site.url }}"><img src="/img/avatar.jpg" class="rounded-circle avatar-img border-primary"></a>
        </div>
        <div id="contact-wrapper" class="h-100">
            <div class="p-md-1 px-md-3">
                <p class="my-0 lead fs-3 text-light">{{ site.author }}</p>
                <p class="my-0 lead fs-4 text-primary">{{ site.email }}</p>
            </div>
            {% include hr.html class="bg-primary" %}
        </div>
    </div>

    <div class="flex-grow-1 d-flex justify-content-end">
        {% include navbar.html %}
    </div>
</nav>