<nav class="flex items-center justify-between flex-wrap bg-primary-light dark:bg-primary-dark p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="#" class="font-semibold text-xl tracking-tight">James Attfield</a>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white" type="button">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="">
    <div class="text-sm lg:flex-grow ms-auto">
      {{#each this.links as |link|}}
        <a href="{{ link.href }}" class="block p-2 font-semibold text-md lg:inline-block lg:mt-0 text-white hover:text-dark hover:bg-secondary rounded-lg">
            {{ link.display }}
        </a>
      {{/each}}
    </div>
  </div>
</nav>