.custom-nav {
	background-color: $dark;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;

	.navbar-nav {
		>.nav-item {
			background-color: unset;
			margin-right: 0.1em;
			margin-left: 0.1em;
			color: $white;

			text-align: center;

			>.nav-link {
				color: $white;
				border-bottom: 0.3em solid transparent;

				&:hover {
					transition: all 0.5s;
					color: $primary;
					border-color: $primary;
				}

				&:focus {
					color: $info;
					border-color: $info;
				}
			}

			>.dropdown-menu {
				background-color: $dark;

				>.dropdown-item {
					color: $light;
					transition: all 0.1s;

					&:hover {
						border-bottom: 0.2em solid transparent;
						border-color: $primary;
						background-color: $gray-900;
					}
				}
			}
		}
	}
}

.navbar-text {
	opacity: 1;
	color: $white;
}
