#page-header {
    z-index: 1;

    #contact-wrapper {
        transition: all 2s;
    }
}

#intro-pane {
    h1 {
        background-image: url(/img/bg.svg);
        background-clip: text;
        color: transparent !important;
        background-size: contain;
    }
}