@each $theme-name-from, $from-value in $theme-colors {
    @each $theme-name-to, $to-value in $theme-colors {
        @keyframes animate-border-#{$theme-name-from}-#{$theme-name-to}{
            0% {
                border-color: $from-value;
            }

            50% {
                border-color: $to-value;
            }

            100% {
                border-color: $from-value;
            }
        }
    }
}

@mixin showcase(){
    //border: 1px solid $light;
    padding: 1.5rem;

    @extend .rounded;

    .showcase-svg-wrapper {
        width: 5em;
    }

    .showcase-img-wrapper {
        @extend .text-center;
    
        >img {
            max-height: 10em;
        }
    }
}

@mixin showcase-variant($border-color, $background-color, $hr-color, $text-color){
    border-color: $border-color;
    background-color: $background-color;

    .hr {
        background-color: $hr-color;
    }

    div.underline {
        fill: $hr-color;
    }

    * {
        color: $text-color;
    }

    &:hover .btn.btn-primary {
        @keyframes jiggle {
            25% {
                transform: rotate(-5deg);
            }

            50% {
                transform: rotate(5deg);
            }

            75% {
                transform: rotate(-5deg);
            }
        }

        animation-name: jiggle;
        animation-duration: 0.5s;
        animation-iteration-count: 2;
    }
} 

.showcase-wrapper {

}

.showcase-light {
    @include showcase();
    @include showcase-variant(
        $border-color: $dark, 
        $hr-color: $primary,
        $background-color: $light,
        $text-color: $dark,
    );
}

.showcase-dark {
    @include showcase();
    @include showcase-variant(
        $border-color: $info, 
        $hr-color: $primary,
        $background-color: $dark,
        $text-color: $light,
    );

    animation-name: animate-border-primary-warning;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    background-color: #2c3136;
    @extend .shadow
}

#showcase-github {
    @include showcase-variant(
        $border-color: $red, 
        $hr-color: $red,
        $background-color: $dark,
        $text-color: $light,
    );

    animation-name: animate-border-danger-info;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.arrow-down {
    >div {
        width: 5em;

        svg {
            fill: $primary;
        }
    }
}