$bodyBackground: #F0F8FF;

$primary: #119da4;
$secondary: #6c757d;
$success: #198754;
$info:  #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$hero: #fcbe11;

$enable-shadows: true;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,

  /* custom ones */
  "hero":       $hero,
);

$technologies : (
  "ruby": #E0115F,
  "csharp": #9c75d5,
  "mysql": #dd8a00,
  "php": #7377ad,
  "java": #507e9c
)