.board::before {
    z-index: -1;
    background-image: url("/img/catan/background.jpg");
    background-size: cover;
    opacity: 0.5;

    content: '';

    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.board {
    font-size: 24pt;
    margin-top: 1em;
    min-width: calc(1.732em * 7 + 1em);
    min-height: calc(1.732em * 7);
}

    .board > div {
        line-height: 1.5em;
        margin-bottom: -1px;
    }

        .board > div:nth-child(even) > div:first-child {
            /*margin-left: 0.866em;*/
        }

        .board > div:nth-child(odd) > div:first-child {
            margin-left: -0.866em;
        }


    .board .spacer {
        visibility: hidden;
    }

    .board .water, .board .water:before, .board .water:after {
        background: #3399cc;
        border-color: #66bbee;
    }

        .board .water span {
            background: #66bbee;
            /*
                background-image: url("/img/catan/water.svg");
            background-size: cover;
            */
        }

    .board .trade, .board .trade:before, .board .trade:after {
        background: #3399cc !important;
        border-color: #66bbee !important;
    }

    .board .wildcard span {
        background-image: url("/img/catan/wildcard.svg");
        background-size: cover;
    }

    .board .wood {
        background: #5e8047;
    }

    .board .wood span {
        background-image: url("/img/catan/wood.svg");
        background-size: cover;
    }

    .board .wheat {
        background: #ffd045;
    }

    .board .wheat span {
        background-image: url("/img/catan/wheat.svg");
        background-size: cover;
    }

    .board .ore {
        background: #a49b9d;
    }

    .board .ore span {
        background-image: url("/img/catan/ore.svg");
        background-size: cover;
    }

    .board .sheep {
        background: #9bc445;
    }

    .board .sheep span {
        background-image: url("/img/catan/sheep.svg");
        background-size: cover;
    }

    .board .brick {
        background: #b46734;
    }

    .board .brick span {
        background-image: url("/img/catan/brick.svg");
        background-size: cover;
    }

    .board .desert {
        background: #e5c27e;
    }

    .board .desert span {
        background-image: url("/img/catan/desert.svg");
        background-size: cover;
    }

    .board > div > div, .board > div > div:before, .board > div > div:after {
        border: 3px solid #ddcc66;
        z-index: -1;
        padding: 3px;
    }

        .board > div > div > * {
            background: white;
            font-size: 0.6em;
            position: relative;
            top: -0.2em;
            line-height: 2em;
            height: 2em;
            width: 2em;
            border-radius: 1em;
            display: inline-block;
        }

    .board > div > div {
        display: inline-block;
        background: #00ff00;
        position: relative;
        width: 1.732em;
        height: 1em;
        line-height: 1em;
        text-align: center;
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
        padding: 0;
    }

        .board > div > div:before, .board > div > div:after {
            content: "";
            background: inherit;
            display: inline-block;
            position: absolute;
            width: 1em;
            height: 1em;
            left: 50%;
            margin-left: -0.5em;
            box-sizing: border-box;
            transform-origin: center center;
            transform: matrix(0.866,0.5,-0.866,0.5,0,0);
            background-clip: content-box;
        }

        .board > div > div:before {
            top: 0;
            margin-top: -0.5em;
            border-right: none;
            border-bottom: none;
            padding-top: 0;
            padding-left: 0;
            padding-right: -2px;
            padding-bottom: -2px;
        }

        .board > div > div:after {
            bottom: 0;
            margin-bottom: -0.5em;
            border-top: none;
            border-left: none;
            padding-right: 0;
            padding-bottom: 0;
            padding-top: -2px;
            padding-left: -2px;
        }
