.hero-section[b-ci4vf3jic1] {
    background-image: url('img/index/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.inline-skill-tag-csharp[b-ci4vf3jic1]{

}

.inline-skill-tag-php[b-ci4vf3jic1] {
}

.inline-skill-tag-java[b-ci4vf3jic1] {
}

.inline-skill-tag-ruby[b-ci4vf3jic1] {
}