.hero-section {
    background-image: url('img/index/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.inline-skill-tag-csharp{

}

.inline-skill-tag-php {
}

.inline-skill-tag-java {
}

.inline-skill-tag-ruby {
}