@page "/"
@using Blazor.Shared.Components

<PageTitle>Portfolio</PageTitle>

<div class="min-h-screen flex flex-col hero-section">
    <div class="text-white">
        navbar
    </div>
    <div class="grow text-white container mx-auto flex items-center justify-center flex-col">
        <div class="grid grid-cols-1 w-full md:grid-cols-2 gap-5 p-3">
            <div class="text-left">
                <h1 class="text-6xl">Hi, I'm James!</h1>
            </div>
            <div class="text-center md:text-right">
                GH, Lkdin
            </div>
        </div>

        <div class="w-full p-3">
            <p class="text-3xl">I am a <span class="inline-skill-tag-csharp">.Net</span> DevOps engineer specialising in on-premise infrastructure with a view to move to cloud! I love all things code, taking pride in automation aiming for a "one click" solution to a problem. I also have a background in web development using <span class="inline-skill-tag-php">PHP</span> Laravel, and have dabbled in various other languages such as <span class="inline-skill-tag-java">Java</span> &amp; <span class="inline-skill-tag-ruby">Ruby</span>.</p>
        </div> 

        <div class="grid grid-cols-1 md:grid-cols-4 w-full gap-4 m-3 px-2">
            @foreach (HeroCard hc in heroCards)
            {
                <div class="md:h-56">
                    <Card>@hc.Body</Card>
                </div>
            }
        </div>
    </div>
</div>

<div>

</div>

@code{
    class HeroCard
    {
        public string? Header { get; set; }
        public string Body {get; set;}
    }

    HeroCard[] heroCards = new HeroCard[4].Select(h => new HeroCard
    {
        Body = "Lorem Ipsum"
    }).ToArray(); 
}