<Card>
    <Body>
        @foreach(var stat in Stats)
        {
            <div class="my-1">
                <div class="flex flex-row justify-between">
                    <p class="bold text-lg capitalize w-fit">@(stat.Stat.Name)</p>
                    <p class="bold text-lg capitalize w-fit">@(stat.BaseStat)</p>
                </div>
                <div class="w-full bg-gray-300 rounded-lg">
                    <div class="p-1 rounded-lg text-left" style="width: @(GetBaseStatPercentage(stat.BaseStat))%; background-color: @(_statColours[stat.Stat.Name])">
                    </div>
                </div>
            </div>
        }
    </Body>
</Card>