<div class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
    <!-- Icon -->
    <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-white group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
        @Icon
    </div>
    <!-- Card -->
    <div class="w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow">
        <div class="flex items-center justify-between space-x-2 mb-1">
            <div class="font-bold text-slate-900">@Title</div>
            @if(Date is not null)
            {
                <time class="font-caveat font-medium text-indigo-500">@(Date.Value.ToShortDateString())</time>
            }
        </div>
        <div class="text-slate-500">@Description</div>
    </div>
</div>