@page "/Pokedex"

@using Blazor.Shared.Components
@using Blazor.Services.Pokedex
@using Blazor.Models.Pokedex
@using Blazor.Shared.Pokedex

@inject IPokeAPIService PokeAPIService

<div class="p-4">
    <EditForm Model="@_formModel">
        <div>
            <h3 class="text-lg">Search </h3>
            <input class="border p-1" @bind-value:event="oninput" @bind-value="_formModel.SearchFilter"/>
        </div>
    </EditForm>
</div>

<div class="p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-4">
        @foreach (Pokemon p in SearchedPokemon)
        {
            var url = "/pokedex/" + p.Id;
            <NavLink href="@url">
                <PokemonListItem Entity="@p" />
            </NavLink>
        }
    </div>
</div>

@code {

    private class FormModel
    {
        public string SearchFilter { get; set; }
    }

    private FormModel _formModel = new();
    private List<Pokemon> _loadedPokemon = new();
    private List<Pokemon> SearchedPokemon
    {
        get
        {
            if (_formModel.SearchFilter == null || _formModel.SearchFilter == "")
                return _loadedPokemon;
            return _loadedPokemon.Where(p => p.Name.StartsWith(_formModel.SearchFilter)).ToList();
        }
    }

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            LoadPokemonIncrementally();
        }
    }

    private async void LoadPokemonIncrementally(int offset=0, int count=151)
    {
        for(int i = offset > 0 ? offset : 1; i < count+1; i++)
        {
            _loadedPokemon.Add(await PokeAPIService.GetPokemonAsync(i));
            StateHasChanged();
        }
    }

    private async ValueTask<ItemsProviderResult<Pokemon>> LoadPokemon(ItemsProviderRequest request)
    {
        int totalItems = 1008; // total number of items
        int remainingItems = Math.Max(0, totalItems - request.StartIndex);
        int numPokemon = Math.Min(request.Count, remainingItems);
        Pokemon[] ps = await PokeAPIService.GetManyPokemonAsync(request.StartIndex, numPokemon);
        return new ItemsProviderResult<Pokemon>(ps, totalItems);
    }
}