<a href="@Href" aria-current="page" class="@((IsActive ? "bg-primary rounded text-light " : "") + "relative z-10 inline-flex items-center px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600")">
    @ChildContent
</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public String Href { get; set; } = "#";

    [Parameter]
    public bool IsActive { get; set; } = false;
}
