<div class="h-full w-full border border-secondary bg-deep-blue/70 hover:bg-deep-blue rounded-lg p-1 md:p-2 flex flex-col">
    <div class="p-1 opacity-100 md:p-2 text-2xl text-hero">
        @Header
    </div>
    <div class="p-1 md:p-2 grow">
        @Body
    </div>
    <div class="p-1 md:p-2 text-sm">
        @Footer
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }
}