<button class="bg-[#002866]/90 hover:bg-[#002866] text-white font-bold py-2 px-4 rounded" onclick="document.getElementById('@ScrollTo').scrollIntoView({behavior:'smooth'})">
    @Text
</button>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string ScrollTo { get; set; }
}
