<span class="border-b md:border-b-4 border-b-@Language">
    @ChildContent
</span>

@code {
    /// <summary>
    /// Render fragment to render if given
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Language class as configured in tailwind
    /// </summary>
    [Parameter]
    public string Language { get; set; }
}
