---
layout: default
---
<div class="flex-grow-1 d-flex bg-dark align-content-center justify-content-center pt-1">
    <div>
        <div class="showcase-dark p-1">
            <div class="px-2">
                <h1 class="display-1">Hi, I'm James!</h1>
            </div>
            {% include hr.html %}
            <div>
                <p class="lead">A DevOps engineer with a creative side...</p>
                <p class="lead text-primary">Check out my projects!</p>
            </div>
        </div>

        <div class="p-4 arrow-down">
            <div class="mx-auto">
                {% include icons/arrow-down.html %}
            </div>
        </div>
    </div>
</div>


<div class="d-flex flex-row flex-wrap justify-content-center">
    {% assign project_posts = site.posts | where: "categories", "projects" %}
    {% if project_posts.size > 0 %}
        {% for post in project_posts %}
            <div class="showcase-wrapper p-1">
                <div class="showcase-light p-1">
                    <h2 id="display"><img class="project-logo" src="{{ post.avatar_url }}"> {{ post.title }}</h2>
                    {% include hr.html class="bg-dark" %}
            
                    <p class="lead">{{ post.lead }}</p>
                    {% if post.description %}
                        <p>{{ post.description }}</p>
                    {% endif %}
                    <div class="d-flex justify-content-end align-content-end">
                        {% assign content = post.content | strip_newlines %}
                        {% if content.size > 0 %}
                           <a class="btn btn-secondary mx-1" href="{{ post.url }}">Blog Post</a>
                        {% endif %}
                        <a class="btn btn-primary mx-1" href="{{ post.website_url }}">Website</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="d-flex bg-dark align-content-center justify-content-center p-1">
    <div>
        <div id="showcase-github" class="showcase-dark">
            <div class="showcase-img-wrapper">
                <img class="img-fluid" src="/img/octocat-1663700451547.png"/>
            </div>
            {% include hr.html %}
            <div class="px-2">
                <h1 class="display-2">View more on GitHub!</h1>
                <div class="mx-auto showcase-svg-wrapper">
                    <a href="{{ site.github }}">
                        {% include icons/logo-github.html %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-content-center justify-content-center p-4">
    <div>
        <div id="showcase-professional" class="showcase-light">
            <div class="px-2">
                <h1 class="display-2">I have professional experience too!</h1>
            </div>
            {% include hr.html %}

            <div class="d-flex flex-wrap flex-col justify-content-evenly p-1 skill-tag-wrapper">
                {% for skill in site.data.professional_skills.skills %}
                    <div class="skill-tag skill-tag-hero">
                        <span>{{ skill }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
