---
layout: default
---
<div id="intro-pane" class="flex-grow-1 d-flex bg-dark align-content-center justify-content-center py-4">
    <div class="showcase-dark p-1 container">
        <div class="px-2">
            <h1 class="display-1">Hi, I'm James!</h1>
        </div>
        <div>
            <p class="lead text-muted">I am a <span class="inline-skill-tag-csharp">.Net</span> DevOps engineer specialising in on-premise infrastructure with a view to move to cloud! I love all things code, taking pride in automation aiming for a "one click" solution to a problem. I also have a background in web development using <span class="inline-skill-tag-php">PHP</span> Laravel, and have dabbled in various other languages such as <span class="inline-skill-tag-java">Java</span> & <span class="inline-skill-tag-ruby">Ruby</span>.</p>

            <div class="d-flex justify-content-evenly flex-wrap-1">
                {% for hash in site.data.socials %}
                    {% assign logo = "icons/logo-" | append: hash[1].icon | append: ".html" %}
                    <div class="social-icon social-icon-{{ hash[1].icon }}">
                        <a href="{{ hash[1].url }}">
                            {% include {{logo}} %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="row g-0">
    {% assign project_posts = site.posts | where: "categories", "projects" %}
    {% if project_posts.size > 0 %}
        {% for post in project_posts %}
            <div class="showcase-wrapper p-1 col-12 col-md-6 col-lg-3">
                <div class="showcase-light p-1">
                    <h2 id="display"><img class="project-logo" src="{{ post.avatar_url }}"> {{ post.title }}</h2>
                    {% include hr.html class="bg-dark" %}
            
                    <p class="lead">{{ post.lead }}</p>
                    {% if post.description %}
                        <p>{{ post.description }}</p>
                    {% endif %}
                    <div class="d-flex justify-content-end align-content-end">
                        {% assign content = post.content | strip_newlines %}
                        {% if content.size > 0 %}
                           <a class="btn btn-secondary mx-1" href="{{ post.url }}">Blog Post</a>
                        {% endif %}
                        <a class="btn btn-primary mx-1" href="{{ post.website_url }}">Website</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<!--
    {% include leetcode_carousel.html %}
-->

<div id="professional-experience">
    <div class="py-4 w-100 bg-dark">
        <div id="showcase-professional" class="showcase-dark container">
            <div class="px-2">
                <h1 class="display-5 text-muted">The technologies I use in the workplace:</h1>
            </div>
        </div>
    </div>

    <div class="row g-0">
        {% for skill in site.data.professional_skills %}
            <div class="col-12 col-md-6 col-lg-2 px-2 py-1">
                 <div class="showcase-light p-1">
                    <h3>{{ skill.name }}</h3>
                    <p>{{ skill.description }}</p>
                 </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container py-4">
    <div class="showcase-dark container d-flex flex-column flex-wrap-1">
        <div class="showcase-img-wrapper">
            <img class="img-fluid bg-primary rounded" src="/img/octocat-1663700451547.png"/>
        </div>
        <h1 class="display-2 text-muted text-center">View more on GitHub!</h1>
        <div class="social-icon social-icon-github align-self-center">
            <a href="{{ site.data.socials.github.url }}">
                {% include icons/logo-github.html %}
            </a>
        </div>
    </div>
</div>